/* settings */
:root{
    --white: #FFF;
    --blue: #26C6EA;
    --dark-blue: #0B0E66;
    --black: #000;
    --light-blue: #94CFFF;
    --blue-vary-black: #0A3853;
    --light-black: #141414;
}

.conteiner{
    width: 1047px;
    margin: 0 auto;
    outline: 2px solid red;
    padding: 0 15px;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
}

p{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
/* header */
.header{
    background-image: linear-gradient(rgba(43, 74, 97, 0.87),
    rgba(43, 74, 97, 0.87)),
    url(../images/header-photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-bottom: 3px solid var(--white);
}
/* Navigation */
.navigation,.menu{
    display: flex;
}

.menu{
    margin-left: 168px;
}

.menu-item:nth-child(n+2){
    padding-left: 38px;
}

.menu-item{
    margin-top: 44px;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
}

.nav{
    color: var(--white);
}

.login{
    padding-top: 9px;
    margin-top: 35px;
    margin-bottom: 34px;
    color: var(--blue);
    background-color: var(--dark-blue);
    font-weight: 300;
    font-size: 20px;
    margin-left: auto;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 3px solid var(--blue);
    font-family: 'HeadlandOne';
    width: 141px;
    height: 41.694px;
    text-align: center; 
}

.nav:hover,
.nav:focus{
    color: var(--light-blue);
    font-weight: 600;
    line-height: 1.2;
}
/* Switcher */
.language{
    outline: 2px solid red;
    width: 157px;
    height: 40px;
    margin: 0 auto;
}

.set-up-lang{
    color: var(--white);
    display: inline;
}
/* Main */
/* Hero-section */
.hero-div{
    height: 740px;
    padding-top: 180px;
    padding-bottom: 179px;
}

.hero-section{
    background: url(../images/hero-bg.png) left/100% no-repeat;
}

.navi-lang{
    width: 298px;
    height: 96px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.ua-lang{
    width: 376px;
    height: 123px;
    font-size: 20px;
    color: var(--white);
}

.clan{
    margin-top: 52px;
    color: var(--blue);
    width: 260px;
    height: 80px;
    text-align: center;
    border-radius: 45px 0px;
    border: 3px solid var(--blue);
    background: var(--dark-blue);
}

.join-clan{
    color: var(--blue);
    
}
/* Quote */
.quote{
    color: var(--blue-vary-black);
    text-align: center;
    font-size: 36px;
}

.jake{
    margin-top: 16px;
    text-align: center;
    color: var(--black);
    font-size: 24px;
}

.angel{
    margin-top: 8px;
    margin-left: 309px;
    width: 400px;
    height: 120px;
}

.jake-S{
    margin-top: 75px;
    margin-bottom: 10px;
}

.video-trailer{
    height: 741px;
    background: url(../images/avataria.png) center/100% no-repeat;
    padding-top: 330px;
}

.video{
    border-radius: 45px 0px;
    border: 3px solid var(--blue);
    background: var(--dark-blue);
    width: 260px;
    height: 80px;
    padding-top: 20px;
}

.trailer{
    color: var(--blue);
}

.sky{
    height: 704px;
    margin-bottom: 57px;
    background: url(../images/sky.jpg) top/100% no-repeat;
}
/* Language */
.link-lang-learn {
    display: flex;
    gap: 24px 36px;
    flex-wrap: wrap;
    justify-content: center;
}

.learn-lang{
    font-size: 32px;
    color: var(--light-black);
    line-height: 1.25;
    text-align: center;
    padding-top: 58px;
    margin-bottom: 45px;
}

.item-lang {
    background: rgba(255, 255, 255, 0.70);
    width: calc(33% - 36px);
    height: 240px;
}

.link-lang-ua{
    padding-bottom: 40px;
    padding-top: 36px;
    text-align: center;
    line-height: 100%;
}

.link-img-lang{
    margin-left: 84px;
    margin-right: 84px;
    width: 152px;
    height: 40px;
}

.link-lang-navi{
    text-align: center;
    padding-bottom: 36px;
    margin-top: 40px;
    line-height: 100%;
}
/* Footer */
.footer{
    background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),
    url(../images/footer-photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 77px;
    padding-bottom: 76px;
}

.s{
    display: flex;
}

.logo-footer{
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.aa{
    width: 2px;
    height: 153px;
}